{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="width: 100%; max-width: 600px;">
        <a href="{{ request.META.HTTP_REFERER }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" class="mb-1" height="20"
                viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
            </svg>
        </a>
        <!-- Comment Form -->
        <div class="mt-4">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="comment" class="form-label">Edit comment</label>
                    <textarea class="form-control" id="comment" name="content" rows="2" required>{{ comment.content }}</textarea>
                </div>
                <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end"> -->
                    <button type="submit" class="btn btn-primary me-md-2 w-100">Submit</button>
                    <!-- <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Back</a> -->
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
